/*
*
* PRODUCT DETAILS
*
*/

* {
  box-sizing: border-box;
}

/* Product Details Layout  */
.product-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-details-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0.1rem;
}

.product-image-column {
  flex: 0 0 55%;
  margin: 10px;
}

.product-info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 20%;
  margin: 10px;
}
/* Reviews */
.product-reviews-container {
  display: flex;
  align-items: center;
  /* margin-top: 0.5em; */
  margin-bottom: 1vh;
}
.read-reviews {
  font-size: 1.5vh;
  text-transform: uppercase;
  color: #444;
  padding-left: 1vh;
}

/* category, title, price */
.category-title-container {
  /* margin-bottom: 0.5vh; */
}
#product-category {
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  padding: 1px;
}
#product-title {
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 1vh;
  padding-bottom: 1vh;

  color: #444;
}
.price {
  font-size: 1.25em;
  color: #444;
}

#sale-price {
  color: rgb(255, 0, 0);
}

#before-sale-price {
  text-decoration: line-through;
}

/* Style Selector */
.styles-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}

p.style-title {
  font-size: 1em;
  color: #444;
  margin-bottom: 2vh;
  /* margin-top: 1vh; */
  font-weight: bold;
}
.style-title span {
  padding-left: 0.5em;
  color: #707070;
  text-underline-position: auto;
}

.style-thumbnail-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2vh;
}

.style-image-container {
  position: relative;
  height: 4rem;
  width: 4rem;
  margin: 0.25em;
}

.style-image-container input {
  border-radius: 50%;
  position: absolute;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  top: 0;
  left: 0;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.currStyle {
  position: absolute;
  top: -5px;
  right: -10px;
  z-index: 1;
  font-size: 1em;
  color: black;
  background-color: white;
  border-width: 0.12em;
  border-color: black;
  border-style: solid;
  border-radius: 50%;
  padding: 0.25em;
}

/* Size and Quantity Selectors */

.size-quantity-selectors {
  display: flex;
  justify-content: space-between;
}
.size-quantity-selectors form {
  margin: 1vh;
}

select#sizes {
  padding: 1vh;
  color: #707070;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  width: 20vw;
}

select#quantity {
  padding: 1vh;
  color: #707070;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

/* Cart Section */

button#addCartButton {
  background-color: black;
  color: white;
  font: inherit;
  border-radius: 5px;
  padding: 1vh;
  font-size: 2.5vh;
  text-transform: uppercase;
  cursor: pointer;
  margin: 1vh;
  width: 100%;
}
button#addCartButton:hover {
  background-color: #000000ba;
}

/* Social Media Icons */
.social-media-container {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  margin: 1vh;
}
.social-media-container p {
  font-size: 2.25vh;
  font-style: italic;
  padding-bottom: 1vh;
}

.social-media-icons {
  display: flex;
  /* margin-bottom: 1vh; */
  cursor: pointer;
  /* justify-content: space-evenly; */
}

p.no-size {
  padding-bottom: 1vh;
  color: #444;
}

.p {
  margin-top: 1em;
}

.product-overview {
  margin: 0.5em;
  display: flex;
}

#product-slogan {
  font-size: 1em;
  margin-top: 2.75px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

#product-description {
  font-size: 0.9em;
  margin-top: 1px;
  font-weight: lighter;
}

/* #cart {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 3.2em;
  cursor: pointer;
} */

.product-details-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Zoom Image View */
.zoom-image {
  --x: 0px;
  --y: 0px;
  background-position: var(--x) var(--y);
  min-width: 70vw;
  min-height: 70vh;
  background-repeat: no-repeat;
  transform: scale(2.5);
  cursor: zoom-out;
}

/* Expanded Gallery View */
.expand-image-container {
  display: flex;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.expand-image-modal {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
  height: 100%;
}

.close-expand {
  background-color: transparent;
  font: inherit;
  border: 3px solid #707070;
  color: inherit;
  padding: 5px;
  font-weight: bold;
  margin-right: 1%;
  z-index: 5;
  position: absolute;
  top: 10%;
  border-radius: 5px;
  font-size: x-large;
}
.expand-image-modal * {
  display: block;
}

#expanded.main-image {
  max-width: 95vw;
  max-height: 95vh;
  position: relative;
  cursor: crosshair;
}

.expand-image-modal .gallery-left-arrow .gallery-right-arrow {
  z-index: 10;
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border-color: transparent;
  color: rgb(249, 249, 249);
  border-radius: 5px;
  position: absolute;
  top: 50%;
}
.expand-image-modal .gallery-right-arrow {
  right: 10%;
}
.expand-image-modal .gallery-left-arrow {
  left: 10%;
}

.image-wrapper {
  height: 100%;
}

.image-wrapper-content {
  display: flex;
  position: relative;
  text-align: center;
  height: 100%;
  /* width: 100%; */
}
/* Default Carousel Gallery View */

.default-gallery-container {
  /* overflow-x: auto;

  width: 100%; */
  display: flex;
  /* flex-wrap: wrap; */
  position: relative;
  height: 100%;
  align-items: center;
}
/* .gallery-slides {
  display: flex;
  width: 100%;
  height: 100%;
} */

.main-image-container {
  flex-basis: 80%;
  position: relative;
}
#default.main-image {
  object-fit: contain;
  width: 100%;
  height: 600px;
  cursor: zoom-in;
  /* min-width: 300px; */
}
img#default.main-image {
}

.expandButton,
.compressButton {
  padding: 0.5vh;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-width: 0;
  cursor: pointer;
}

.gallery-right-arrow,
.gallery-left-arrow {
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
  border-color: transparent;
  color: #707070;
  border-radius: 5px;
}

.gallery-right-arrow:hover,
.gallery-left-arrow:hover {
  background-color: rgb(0 0 0 / 12%);
}

.thumbnail-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 1vh;
  flex-basis: 15%;
}

.thumbnail-container img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 5px;
}

button.thumbnail-up-arrow {
  background-color: rgb(255 255 255);
  opacity: 0.5;
  border-radius: 5px;
  transform: rotate(90deg);
  width: 2rem;
  height: 2rem;
  align-self: center;
  border-width: 0;
  cursor: pointer;
}
button.thumbnail-down-arrow {
  background-color: rgb(255 255 255);
  opacity: 0.5;
  border-radius: 5px;
  transform: rotate(270deg);
  width: 2rem;
  height: 2rem;
  align-self: center;
  border-width: 0;
  cursor: pointer;
}
button.thumbnail-up-arrow.dot {
  background-color: rgb(255 255 255);
  opacity: 0.5;
  border-radius: 5px;
  transform: rotate(0deg);

  width: 2rem;
  height: 2rem;
  align-self: center;
  border-width: 0;
  cursor: pointer;
}
button.thumbnail-down-arrow.dot {
  background-color: rgb(255 255 255);
  opacity: 0.5;
  border-radius: 5px;
  transform: rotate(180deg);
  width: 2rem;
  height: 2rem;
  align-self: center;
  border-width: 0;
  cursor: pointer;
}
button.thumbnail-down-arrow:hover,
button.thumbnail-up-arrow:hover {
  background-color: rgba(0, 0, 0, 0.271);
}
.active-thumbnail,
.thumbnail {
  opacity: 0.6;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.active-thumbnail,
.thumbnail:hover {
  opacity: 1;
}

.active-thumbnail,
.thumbnail::after {
  opacity: 1;
}
/* expand view and dots */
.expanded-gallery-container {
  display: flex;
  position: relative;
  align-items: center;

  flex-direction: column-reverse;
  justify-content: center;
}
.expanded-carousel {
  display: flex;
}
.thumbnail-container.dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vh;
  align-items: center;
}

.active-thumbnail.dot,
.thumbnail.dot {
  opacity: 0.6;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active-thumbnail.dot,
.thumbnail.dot:hover {
  opacity: 1;
  background-color: #717171;
}
.thumbnail-item.dot {
  margin-inline: 1vh;
}
.active-thumbnail,
.thumbnail::after {
  opacity: 1;
}
.zoom-container {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: zoom-out;
  /* padding: 50px;
  border: 1px solid #00adb7;
  border-radius: 15px; */
}

/* .zoom-container:hover .target {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.55), 0 14px 18px rgba(0, 0, 0, 0.55);
} */

.source {
  display: block;
  width: 100%;
  height: 100%;
}

.target {
  position: absolute;
}
